table{
    width: 100%;
}
.example-card {
    max-width: 400px;
  }
  .example-header-image {
    background-image: url('../../../../assets/default.png');
    background-size: cover;
  }

.card-img-top{
  height: 50px;
  width: 50px;
}
.mt-20{
  margin-top: 20px;
}