<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form (ngSubmit)="addCategory()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input required type="text" matInput name="title" [(ngModel)]="category.title" placeholder="Enter Title">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <input type="text" matInput name="description" [(ngModel)]="category.description" placeholder="Enter Description" rows="10">
                        </mat-form-field>
                        <div class="container text-center mt20">
                            <button type="submit" mat-raised-button color="primary">Add</button>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
