.ml20{
    margin-left: 20px;
}
.image{
    height: 50px;
    width: 50px;
}
.headingQuiz{
    font-family: Cambria;
    font-size: 40px;
}
.name{
    font-family: Cambria;
    font-size: 25px;
}
.data{
    font-family: Cambria;
    font-size: 20px;
}
.sign{
    height: 10px;
    width: 20px;
}